*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(0,0,0,0.8) url('f12.jpg') center fixed;
    background-size: cover;
}
header{

    display: flex;
    justify-content: space-around;
    align-items: center;   
}
header h1{
    color: white;
    font-size: 50px;
}
header span{
    font-size: 78px;
    color: red;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

nav ul li a:hover{
    font-size: 30px;
    
    color:yellow;
    transition: 0.3s;
}
main{
    position: absolute;
    top: 29%;
    left: 10%;
    color: #fff;
}
main h2{
    margin-left: 305px;
    text-align: center;
    font-size: 40px;
}
main h1{
    margin-left: 305px;
    text-align: center;
    padding: 10px;
    font-size: 44px;
}
main p{
    margin-left: 305px ;
    font-size: 23px;
    text-align: center;
}
.search{
    position: absolute;
    height: 40px;
    top: 53%;
    left: 42%;
    display: flex;
    font-size: 20px;
}
.search:hover{
    font-style: oblique;
    font-size: 22px;
}
input{
    
    width: 270px;
    padding: 10px;
    border-radius: 50px;
}
button{
    display: flex;
    position: absolute;
    top: 61%;
    left: 46%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}
button:hover{
    background:orange;
    color: #fff;
    font-weight: bold;
}