*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('f9.jpg');
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    color:#fff;
    font-size: 50px;
}
header span{
    font-size: 78px;
    color: red;
}
nav ul li{
    display: flex;
    padding: 20px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}
a:hover{
    font-size: 30px;
    
    color:yellow;
    transition: 0.3s;
}
h2{
    color:#fff;
    font-size: 50px;
    background: none;
    box-shadow: none;
}
.div1{
    display: flex;
    width: 1100px;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 20px;
    box-shadow: -5px 5px 17px;
    margin-left: 500px;
    margin-top: 40px;
}
img{
    height: 710px;
}

h1{
    background-color: #fff;
    padding: 8px;
    box-shadow: 4px 3px 9px;
    font-weight: bold;
    width: 570px;
    margin: 2px;
    margin-left: 50px;    
}
h1:hover{
    font-size: 40px;
    border-radius: 20px;
} 